:root {
	font-family: 'Noto Sans', sans-serif;
	--background-color: #121212;
	--font-oswald: 'Oswald', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #252525;
	--primary-font-color: var(--pure-white);
	--secondary-font-color: #adadad;
	--surface-color: #333333;
	--surface-color--light: #cecece;
	--accent-color: #0096cd;
	--text-color: #444444;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	background: var(--background-color);
	color: var(--secondary-font-color);
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-family: var(--font-oswald);
	text-transform: uppercase;
}

h1,
h2,
p {
	font-weight: 400;
	font-size: 14px;
	color: var(--primary-font-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.span-full {
	grid-column: 1/-1;
}
// global menu CSS
.hamburger {
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.hamburger-line {
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: var(--pure-white);
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease-out;
}

.hamburger-line:not(:first-child) {
	margin-top: 7px;
}

.hamburger.active .hamburger-line-1 {
	transform: translateY(11px) rotate(-135deg);
}

nav[data-visible='true'] {
	.hamburger-line-1 {
		transform: translateY(11px) rotate(-135deg);
	}
}

.hamburger.active .hamburger-line-2 {
	opacity: 0;
	transform: translateX(-50%);
}

.hamburger.active .hamburger-line-3 {
	transform: translateY(-11px) rotate(-225deg);
}
