@mixin clamp-font() {
	font-size: clamp(1rem, 3rem, 3rem);
}

@mixin section-header {
	@include clamp-font();
	text-align: center;
	color: var(--secondary-font-color);
	margin-top: 2rem;
	padding: 0;
}
