@mixin clamp-font() {
	font-size: clamp(1rem, 3rem, 3rem);
}

@mixin section-header {
	@include clamp-font();
	text-align: center;
	color: var(--secondary-font-color);
	margin-top: 2rem;
	padding: 0;
}

@mixin supports-backdrop-filter() {
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(1rem);
	@supports (backdrop-filter: blur(1rem)) {
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(1rem);
	}
}
