@import 'variables';

@mixin clamp-font() {
	font-size: clamp(0.5rem, 2.5rem, 4rem);
}

@mixin section-header {
	@include clamp-font();
	text-align: center;
	color: var(--secondary-font-color);
	margin-top: 2rem;
	padding: 0;
	line-height: normal;

	// @media (max-width: $device-xsmall) {
	// 	font-size: 2rem;
	// }
}

@mixin supports-backdrop-filter() {
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(1rem);
	@supports (backdrop-filter: blur(1rem)) {
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(1rem);
	}
}
